body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

section {
    display: flex;
    justify-content: flex-start;
    background-color: rgb(207, 207, 175);
    /* margin-left: 200px; */
    /* margin-right: 100px; */
}

.blueHuesPicture {
    max-width: 100%;
}

.navbarContainer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(245, 243, 238);
}

.TheHuesName {
    text-transform: uppercase;
    padding: 4px;
}

.navbarListContainer {
    display: flex;
    justify-content: center;
    list-style: none;
    text-transform: lowercase;
}

.listItem {
    padding: 10px 4px 2px 4px;

}

.listItem--a {
    text-decoration: none;
    color: black;
}

.listItem--a:hover {
    color: gray;
}